@import "base/variables";
* {
  font-family: "Museo Sans Cyrl", sans-serif;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
@import "blocks/promo";
@import "blocks/header.scss";
@import "blocks/buttons.scss";
@import "blocks/advantages.scss";
@import "blocks/titles.scss";
@import "blocks/consultation.scss";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/review";
@import "blocks/footer";
@import "blocks/media";
