.advantages {
  padding: 70px 0 30px 0;
  background-color: #f6f6f6;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 238px;
    height: 270px;
    img {
      width: 70px;
      height: 70px;
    }
  }
  &__subtitle {
    margin-top: 20px;
    color: #0d0d0d;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  &__info {
    margin-top: 10px;
    color: #0d0d0d;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    a {
      color: #f00;
      text-decoration-line: underline;
    }
  }
  &__heart {
    // animation-name: heartbeat;
    // animation-duration: 2s;
    // animation-play-state: paused;

    &:hover {
      animation-name: heartbeat;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
    }
  }
}
