.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__logo {
    width: 250px;
    img {
      width: 100%;
    }
  }
  &__official {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    span {
      display: block;
      font-size: 16px;
    }
  }
  &__phone {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    &:hover {
      color: azure;
      text-decoration: none;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
