@media (max-width: 991px) {
  .container {
    padding: 0 20px 0 20px;
  }
  .promo {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.catalog {
  &__content {
    justify-content: center;
  }
  &-item {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__logo {
      width: 250px;
      img {
        width: 100%;
      }
    }
    &__phone {
      margin-bottom: 15px;
    }
    &__contacts {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__official {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  // .header {
  //   &__logo {
  //     width: 220px;
  //     img {
  //       width: 100%;
  //     }
  //   }
  //   &__official {
  //     font-size: 12px;
  //   }
  //   &__phone {
  //     font-size: 14px;
  //   }
  // }
  .advantages {
    &__subtitle {
      margin-top: 10px;
      font-size: 16px;
    }
    &__info {
      margin-top: 10px;
      font-size: 12px;
    }
  }
  .carousel {
    &__inner {
      width: 565px;
      img {
        width: 100%;
      }
    }
  }
  .title {
    color: #0d0d0d;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    &_left {
      color: #fff;
      text-align: left;
    }
  }
  .catalog {
    padding-bottom: 50px;
    &__tabs {
      margin-top: 40px;
    }
    &__tab {
      width: 123px;
      height: 40px;
      font-size: 12px;
      line-height: 38px;
    }
    &__content {
      margin-top: 40px;
      display: none;
      flex-wrap: wrap;
      &_active {
        display: flex;
      }
    }
    &-item {
      width: 255px;
      min-height: 340px;
      margin-bottom: 15px;
      img {
        display: block;
        margin: 30px auto;
        max-width: 100%;
        height: 130px;
      }
      &__back {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 40px;
      }
      &__subtitle {
        margin-top: 15px;
        font-size: 14px;
      }
      &__descr {
        margin-top: 14px;
        font-size: 12px;
      }
      &__link {
        margin-top: 14px;
        font-size: 12px;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 8px;
      }
      &__oldprice {
        font-size: 12px;
      }
      &__price {
        font-size: 16px;
      }
      &__list {
        // position: relative;
        // width: 50%;
        // margin-left: 20px;
        // transform: translateX(0%);
        // padding-right: 20px;
        // transition: 0.5s all;
        // padding-left: 19px;
        // margin-bottom: 0;
        // list-style-type: none;
        &_active {
          //   transform: translateX(-100%);
          //   margin-left: 0px;
          li {
            // position: relative;
            // color: #555;
            font-size: 12px;
            // font-weight: 300;
            // margin-bottom: 20px;
            // &:before {
            // //   content: "";
            // //   position: absolute;
            // //   width: 5px;
            // //   height: 5px;
            // //   border-radius: 100%;
            // //   background-color: $main-color;
            // //   left: -12px;
            // //   top: 8px;
            // }
          }
        }
      }
    }
  }
  .review {
    &__item {
      margin-top: 30px;
      img {
        width: 129px;
        height: 129px;
        margin-right: 40px;
      }
      &__text__title {
        font-size: 14px;
      }
      &__text__subtitle {
        font-size: 12px;
      }
      &__text__descr {
        font-size: 14px;
      }
    }
  }
  .footer {
    &__info {
      width: 260px;
      height: 160px;
      padding: 20px 69px 60px 69px;
    }
    &__addr {
      font-size: 12px;
      margin-bottom: 26px;
    }
    &__phone {
      font-size: 12px;
      margin-bottom: 28px;
    }
    &__social-item {
      width: 22px;
      height: 22px;
      margin: 0 10px;
      img {
        width: 60%;
        height: 60%;
      }
    }
    &__map {
      width: 100%;
      height: 430px;
    }
  }
}
.modal {
  width: 280px;
  min-height: 290px;
  padding: 20px 20px 20px 20px;
  &__close {
    position: absolute;
    top: -3px;
    right: -20px;
    font-size: 30px;
    line-height: 20px;
  }
  &__subtitle {
    font-size: 14px;
  }
  &__descr {
    font-size: 12px;
  }
}

// .button {
//   font-size: 12px;
//   width: 140px;
//   height: 30px;
//   &_main {
//     font-size: 14px;
//     width: 250px;
//     height: 45px;
//   }
//   &_submit {
//     width: 100%;
//     height: 55px;
//     font-size: 16px;
//   }
// }
.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 240px;
}
.pageup {
  right: 15px;
}

#consultation,
#order,
#thanks {
  display: none;
}
@media (max-width: 575px) {
  .header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__logo {
      width: 200px;
      img {
        width: 100%;
      }
    }
    &__phone {
      margin-bottom: 10px;
    }
    &__contacts {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__official {
      margin-top: 10px;
    }
  }
  .promo {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
    &__header {
      color: #fff;
      font-size: 28px;
      line-height: 35px;
    }
    &__subheader {
      font-size: 18px;
    }
    &__icons {
      margin-top: 50px;
      width: 300px;
    }
    &__icon {
      font-weight: 500;
      width: 80px;
    }
  }
  .advantages {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
    }
  }
  .consultation {
    &__descr {
      font-size: 16px;
    }
  }
  .title {
    &_left {
      font-size: 22px;
    }
  }
  .carousel {
    &__inner {
      width: 310px;
      img {
        width: 100%;
      }
    }
  }
  .catalog {
    padding-bottom: 20px;
    &__tabs {
      margin-top: 20px;
    }
    &__tab {
      width: 100px;
      height: 35px;
      font-size: 9px;
      line-height: 32px;
    }
    &__content {
      margin-top: 30px;
      display: none;
      flex-wrap: wrap;
      &_active {
        display: flex;
      }
    }
    &-item {
      &__back {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 20px;
      }
      &__subtitle {
        margin-top: 12px;
        font-size: 14px;
      }
      &__descr {
        margin-top: 14px;
        font-size: 12px;
      }
      &__link {
        margin-top: 14px;
        font-size: 12px;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 8px;
      }
      &__oldprice {
        font-size: 10px;
      }
      &__price {
        font-size: 14px;
      }
    }
  }
  // .button {
  //   &_mini {
  //     font-size: 14px;
  //     width: 125px;
  //     height: 38px;
  //   }
  //   &:hover {
  //     box-shadow: 3px 3px 20px $main-color;
  //     border: none;
  //   }
  // }
  .footer {
    height: 330px;
    &__map {
      width: 100%;
      min-height: 330px;
    }
  }
}
@media (max-width: 375px) {
  .review {
    display: none;
  }
  .pageup {
    right: 10px;
  }
}
