.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 40px 40px 40px 40px;
  &__close {
    position: absolute;
    top: 1px;
    right: -40px;
    font-size: 40px;
    line-height: 20px;
    color: $main-color;
    cursor: pointer;
  }
  &__subtitle {
    font-size: 19px;
    font-weight: 700px;
    text-align: center;
  }
  &__descr {
    font-size: 14px;
    font-weight: 500px;
    text-align: center;
  }
  &_mini {
    min-height: 140px;
  }
  .error {
    color: $main-color;
    text-align: center;
    opacity: 0.6;
    border: 1px solid $main-color;
    margin-bottom: 10px;
  }
  label.error {
    border: none;
  }
}

#consultation,
#order,
#thanks {
  display: none;
}
